<!DOCTYPE html>
<head>
<title>IT Inventory</title>
<link rel="stylesheet" type="text/css" href="static/style.css">
<head>
<html>
    <body id="addBody" align="center">
        <h1>Add New Item</h1>
        <h4 align="center" id="container">
            <form action="{{url_for("home")}}">
            <button id="all" type="submit">Show All</button>
            </form>
        </h4>
        <h4 align="center">
            <form action="/add" method="post">
                <div>
                    <input id="new" type="text" id="change" name="new_name" placeholder="New name">
                </div>
                <div>
                    <input id="new" type="text" id="change" name="new_quant" placeholder="New quantity">
                </div>
                <div>
                    <input id="new" type="text" id="change" name="new_desc" placeholder="New description">
                </div>
            <td width="20%"><button type="submit" class="submit">Submit</button></td>
        </h4>
    </body>
</html>