<!DOCTYPE html>
<head>
<title>IT Inventory</title>
<link rel="stylesheet" type="text/css" href="static/style.css">
<head>
<html>
    <body>
        <div id="nav-bar">
            <a id="nav" href="/home">Home</a></div>
            <div align="right">
                <form action="{{ url_for("home")}}" method="post">
                <input type="text" id="locate" name="fname" placeholder="Search by Name">
                <button class="enter" type="submit">Enter</button>
                </form>
            </div>
        <h1 align="center">Add New Item</h1>
        <h4 align="center">
            <form action="/add" method="post">
                <h3>Fill out all forms:</h3>
                <div>
                    <input id="new" type="text" id="change" name="new_name" placeholder="New name">
                </div>
                <div>
                    <input id="new" type="text" id="change" name="new_quant" placeholder="New quantity">
                </div>
                <div>
                    <input id="new" type="text" id="change" name="new_desc" placeholder="New description">
                </div>
                <div>
                    <input id="new" type="text" id="change" name="new_location" placeholder="New location">
                </div>
            <td width="20%"><button type="submit" class="submit">Submit</button></td>
        </h4>
    </body>
</html>