<!DOCTYPE html>
<header>
<title>IT Inventory</title>
<header>
<html>
    <body>
        This is the add page
            <h4>
                <form action="{{url_for("index")}}">
                <button type="submit">Show All</button>
                </form>
            </h4>
        <h4 align="center">
            <form action="/add" method="post">
                <div>
                    <input type="text" id="change" name="new_name" placeholder="New name">
                </div>
                <div>
                    <input type="text" id="change" name="new_quant" placeholder="New quantity">
                </div>
                <div>
                    <input type="text" id="change" name="new_desc" placeholder="New description">
                </div>
            <td width="20%"><button type="submit">Submit</button></td>
        </h4>
    </body>
</html>