<!DOCTYPE html>
<head>
<title>IT Inventory</title>
<link rel="stylesheet" type="text/css" href="static/style.css">
<head>
<html>
    <body>
        <div id="nav-bar">
            <div id="container_nav">
                    <a id="nav" href="/home">Home</a>
                    <a id="nav" href="/add">Add</a>
                <div id="search_container" float="right">
                    <form action="{{ url_for("home")}}" method="post">
                    <input type="text" autocomplete="off" id="locate" name="fname">
                    <button class="enter" type="submit"><img src="static/search.png" alt=""></button>
                    </form>
                </div>
            </div> 
        </div>
        <div id="line"></div>
        <div class="title">
            <a id="piston">Piston<a> <a id="IT">IT<a> Inventory
        </div>
        <table style="width:100%">
            <tr>
                <th width="20%" align="left">Name</th>
                <th width="20%" align="left">Quantity</th>
                <th width="20%" align="left">Description</th>
                <th width="20%" align="left">Date Updated</th>
                <th width="20%" align="left">Location</th>
            </tr>
            {%for item in data%}
            <tr>
                <form id="new_name" action="{{ url_for("field_edit")}}" method="post">
                <td width="20%"><input type="hidden" name="name" value="{{ item[0] }}">{{ item[0] }}</td>
                <td width="20%">{{ item[1] }}</td>
                <td width="20%">{{ item[2] }}</td>
                <td width="20%">{{ item[3] }}</td>
                <td width="20%">{{ item[4] }}</td></form>
                <form action="{{ url_for("delete")}}" method="post">
                <input type="hidden" name="name" value="{{ item[0] }}">
                <td width="auto" align="left"><button class="delete" type="submit"><img src="static/trash.png" alt=""></button></td></form>
            </tr>
            {%endfor%}
        </table>
        <h4 align="center">
            <div id="container">
                <input id="new" form="new_name" autocomplete="off" type="text" id="change" name="new_name" placeholder="New name">
            </div>
            <div>
                <input id="new" form="new_name" autocomplete="off" type="text" id="change" name="new_quant" placeholder="New quantity">
            </div>
            <div>
                <input id="new" form="new_name" autocomplete="off" type="text" id="change" name="new_desc" placeholder="New description">
            </div>
            <div>
                <input id="new" form="new_name" autocomplete="off" type="text" id="change" name="new_location" placeholder="New location">
            </div>
            <td width="20%"><button form="new_name" type="submit" class="submit">Submit</button></td>
        </h4>
    </body>
</html>