<!DOCTYPE html>
<head>
<title>IT Inventory</title>
<link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<html>
    <body>
        <div class="title">
            Piston IT Inventory
        </div>
        <h4>
            <div align="center">
                <form action="{{ url_for("home")}}" method="post">
                <input type="text" id="locate" name="fname" placeholder="Search by Name">
                <button class="enter" type="submit">Enter</button>
                </form>
            </div>
            <!--<div align="center">
                <form action="{{ url_for("location")}}" method="post">
                <input type="text" id="locate" name="flocation" placeholder="Search by Location">
                <button class="enter" type="submit">Enter</button>
                </form>
            </div>-->
            <div align="center">
                <form action="{{ url_for("add")}}">
                <button class="add" type="submit">Add</button></form>
            </div>
        </h4>
        <div id="table_container">
            <table style="width:100%">
                <tr>
                    <th width="3%" align="left"></th>
                    <th width="19%" align="left">Name<div>
                        <div><form action="{{ url_for("sort_desc")}}" method="post">
                        <input type="hidden" name="name" value="1">
                        <button class="arrow" type="submit"><img src="static/up.png" alt=""></button></form></div>
                        <div><form action="{{ url_for("sort_asc")}}" method="post">
                        <input type="hidden" name="name" value="1">
                        <button class="arrow" type="submit"><img src="static/down.png" alt=""></button></form></div></div>
                    </th>
                    <th width="19%" align="left">Quantity<div>
                        <div><form action="{{ url_for("sort_desc")}}" method="post">
                        <input type="hidden" name="name" value="2">
                        <button class="arrow" type="submit"><img src="static/up.png" alt=""></button></form></div>
                        <div><form action="{{ url_for("sort_asc")}}" method="post">
                        <input type="hidden" name="name" value="2">
                        <button class="arrow" type="submit"><img src="static/down.png" alt=""></button></form></div></div>
                    </th>
                    <th width="19%" align="left">Description<div>
                        <div><form action="{{ url_for("sort_desc")}}" method="post">
                        <input type="hidden" name="name" value="3">
                        <button class="arrow" type="submit"><img src="static/up.png" alt=""></button></form></div>
                        <div><form action="{{ url_for("sort_asc")}}" method="post">
                        <input type="hidden" name="name" value="3">
                        <button class="arrow" type="submit"><img src="static/down.png" alt=""></button></form></div></div>
                    </th>
                    <th width="15%" align="left">Date Updated<div>
                        <div><form action="{{ url_for("sort_desc")}}" method="post">
                        <input type="hidden" name="name" value="4">
                        <button class="arrow" type="submit"><img src="static/up.png" alt=""></button></form></div>
                        <div><form action="{{ url_for("sort_asc")}}" method="post">
                        <input type="hidden" name="name" value="4">
                        <button class="arrow" type="submit"><img src="static/down.png" alt=""></button></form></div></div>
                    </th>
                    <th width="15%" align="left">Location<div>
                        <div><form action="{{ url_for("sort_desc")}}" method="post">
                        <input type="hidden" name="name" value="5">
                        <button class="arrow" type="submit"><img src="static/up.png" alt=""></button></form></div>
                        <div><form action="{{ url_for("sort_asc")}}" method="post">
                        <input type="hidden" name="name" value="5">
                        <button class="arrow" type="submit"><img src="static/down.png" alt=""></button></form></div></div>
                    </th>
                </tr>
                {%for item in data%}
                <tr class="data_row"> 
                    <form action="{{ url_for("edit")}}" method="post">
                    <td width="5%" align="right"><button class="edit" type="submit"><img src="static/edit_icon.png" alt=""></button></td>
                    <form id="name" method="post">
                    <td width="20%"><input type="hidden" name="name" value="{{ item[0] }}">{{ item[0] }}</td></form>
                    <td width="20%">{{ item[1] }}</td>
                    <td width="20%">{{ item[2] }}</td>
                    <td width="15%">{{ item[3] }}</td>
                    <td width="15%">{{ item[4] }}</td></form>
                    <form action="{{ url_for("delete")}}" method="post">
                    <input type="hidden" name="name" value="{{ item[0] }}">
                    <td width="auto" align="left"><button class="delete" type="submit">Delete</button></td></form>
                </tr>
                {%endfor%}
            </table>
        </div>
    </body>
</html>