<!DOCTYPE html>
<head>
<title>IT Inventory</title>
<link rel="stylesheet" type="text/css" href="static/style.css">
<script src="static/script_small.js"></script>
</head>
<html>
    <body>
        <div id="nav-bar">
            <div id="container_nav">
                    <a id="nav" href="/home">Inventory</a>
                    <a id="nav" href="/add">Add Item</a>
                    <a id="nav" href="/user">User</a>
                    <a id="nav-logout" href="/">Logout</a>
                <div id="search_container" float="right">
                    <form action="{{ url_for("home")}}" method="post">
                    <input type="text" autocomplete="off" id="locate" name="fname">
                    <button class="enter" type="submit"><img src="static/search.png" alt=""></button>
                    </form>
                </div>
            </div> 
        </div>
        <div id="line"></div>
        <p align="right" id="alerts"><a id="replace"></a><a id="alert-a"></a></p>
        <div class="select">
            <button class="dropbtn">></button>
            <div id="dropdown">
                <a id="tab" href="/full">Full</a>
                <a id="tab" href="/partial">Partial</a>
                <a id="tab" href="/checkout">Checkout</a>
            </div>
        </div>
        <div class="title">
            <a id="piston">Piston</a> <a id="IT">IT</a> Inventory
        </div>
        <div id="table_container">
            <table id="myTable" style="width:50%">
                <tr>
                    <th width="10%" align="left"></th>
                    <th width="50%" align="left">Name<div>
                        <div><form action="{{ url_for("sort_desc")}}" method="post">
                        <input type="hidden" name="name" value="1">
                        <button class="arrow" type="submit"><img src="static/up.png" alt=""></button></form></div>
                        <div><form action="{{ url_for("sort_asc")}}" method="post">
                        <input type="hidden" name="name" value="1">
                        <button class="arrow" type="submit"><img src="static/down.png" alt=""></button></form></div></div>
                    </th>
                    <th width="30%" align="left">Quantity<div>
                        <div><form action="{{ url_for("sort_desc")}}" method="post">
                        <input type="hidden" name="name" value="2">
                        <button class="arrow" type="submit"><img src="static/up.png" alt=""></button></form></div>
                        <div><form action="{{ url_for("sort_asc")}}" method="post">
                        <input type="hidden" name="name" value="2">
                        <button class="arrow" type="submit"><img src="static/down.png" alt=""></button></form></div></div>
                    </th>
                </tr>
                {%for item in data%}
                <tr class="data_row">
                    <form action="{{ url_for("edit")}}" method="post">
                    <td width="10%" align="right"><button class="edit" id="count" type="submit"><img src="static/edit_icon.png" alt=""></button></td>
                    <form id="name" method="post">
                    <td width="50%"><input type="hidden" name="name" value="{{ item[0] }}">{{ item[0] }}</td></form></form>
                    <td width="30%" display="inline-block" id="quantity" data-quantity="{{ item[1] }}">
                        <form action="/update_q_p" method="post">
                        <input type="hidden" name="name" value="{{ item[0] }}">
                        <input type="text" autocomplete="off" class="d_q" name="d_q" placeholder="{{ item[1] }}"></td></form>
                    <td data-hidden="{{ item[5] }}" style="display:none;"></td></form>
                    <form action="{{ url_for("delete")}}" method="post">
                    <input type="hidden" name="name" value="{{ item[0] }}">
                    <td width="auto" align="left"><button class="delete" type="submit"><img src="static/trash.png" alt=""></button></td></form>
                </tr>
                {%endfor%}
            </table>
        </div>
    </body>
</html>